*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 1300px;
    /* box-shadow: 10px 10px 5px 10px rgb(246, 4, 4); */
    /* display: flex;
    justify-content: center; */
}
h1{
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: rgb(4, 75, 75);
    text-shadow: 2px 3px rgb(239, 126, 126);
}
#first,#second{
    width: 1200px;
    height:500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 3px 3px rgb(193, 127, 177);
    margin-bottom: 100px;
    margin-left: 150px;
}
.first1,.second1{
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 1px 2px rgb(43, 157, 238);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top:10px ;
    background-color: rgb(238, 238, 219);
}
.first1:hover,.second1:hover{
    box-shadow: 5px 5px rgb(108, 2, 25);
    transform: scale(1.05,1.05);
    animation: shift .5s linear;
}
@keyframes shift {
    0%{
        transform: translateX(0px);
        /* transform: rotate(-180deg); */
    }
    50%{
        transform: translateX(10px);
        /* transform: rotate(180deg); */
        
    }
    100%{
        transform: translateX(0px);
        /* transform: rotate(180deg); */
    }
}
button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px black;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(1, 32, 39);
    /* box-shadow: 1px 1px 1px 2px rgb(43, 157, 238); */
    

}
button:hover{
    background-color: black;
    color: aliceblue;

}
img{
    width: 250px;
    height: 200px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    /* object-fit: scale-down; */
    box-shadow: 1px 1px 1px 2px white

}
p{
    font-size: 18px;
    font-weight: bolder;
}
@media screen and (max-width: 500px) {
    section{
        width: 100%;
        height: 100%;
        /* box-shadow: 10px 10px 5px 10px rgb(246, 4, 4); */
        /* display: flex;
        justify-content: center; */
    }
    h1{
        font-size: 50px;
        line-height: 70px;
        text-align: center;
        color: rgb(4, 75, 75);
        text-shadow: 2px 3px rgb(239, 126, 126);
    }
    #first,#second{
        width: 100%;
        height:120%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        /* box-shadow: 100% 100% 10% 100% rgb(193, 127, 177); */
        margin-bottom: 10%;
        margin-left: 10%;
        margin-right: 5px;
        z-index: 1;
        
    }
    .first1,.second1{
        width: 100%;
        height: 100%;
        box-shadow: 1px 1px 1px 2px rgb(43, 157, 238);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        /* flex-direction: column; */
        /* gap: 120%; */
        align-items: center;
        margin-top:10% ;
        background-color: rgb(238, 238, 219);
        margin-right: 20px;
    }
    .first1:hover,.second1:hover{
        box-shadow: 5px 5px rgb(108, 2, 25);
        transform: scale(1.05,1.05);
        animation: shift .5s linear;
    }
    @keyframes shift {
        0%{
            transform: translateX(0px);
            /* transform: rotate(-180deg); */
        }
        50%{
            transform: translateX(10px);
            /* transform: rotate(180deg); */
            
        }
        100%{
            transform: translateX(0px);
            /* transform: rotate(180deg); */
        }
    }
    button{
        width: 90px;
        height: 40px;
        border-radius: 10px;
        box-shadow: 1px 1px black;
        font-size: 20px;
        font-weight: bolder;
        color: rgb(1, 32, 39);
        /* box-shadow: 1px 1px 1px 2px rgb(43, 157, 238); */
        
    
    }
    button:hover{
        background-color: black;
        color: aliceblue;
    
    }
    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        /* object-fit: scale-down; */
        box-shadow: 1px 1px 1px 2px white
    
    }
    p{
        font-size: 18px;
        font-weight: bolder;
    }
}